<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D0018E</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c81cf709e0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        {% include "components/navbar_admin.html" %}
    </header>   
    <div class="col-sm-4">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../static/images/background_chika.png" alt="No image found">
            <div class="card-body">
                <h5 class="card-title">Admin User Page<h5>
                <a href="admin/users"btn btn-primary">Modify now</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../static/images/background_chika.png" alt="No image found">
            <div class="card-body">
                <h5 class="card-title">Admin Items Page<h5>
                <a href="admin/items"btn btn-primary">Modify now</a>
            </div>
        </div>
</body>