<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D0018E</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/c81cf709e0.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- BEGINNING OF NAVBAR-->
  <header>
    <div class="px-3 py-2 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-end">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <i class="fa-solid fa-shoe-prints"></i>
          </a>
          <ul class="nav col-12 col-lg-auto my-2 justify-content-end my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <i class="fa-solid fa-house"></i>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-black-50">
                <i class="fa-solid fa-cart-shopping"></i>
                Your Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-black-50">
                <i class="fa-solid fa-user"></i>
                Products
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-end">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light text-dark me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
  <!-- BEGINNING OF SIDEBAR-->
  <div class="container-fluid">
    <i class="fa-solid fa-tags"></i>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      More items click here yes yes very good
    </a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">PC's</a></li>
          <li><a href="#" class="link-dark rounded">Monitors</a></li>
          <li><a href="#" class="link-dark rounded">Keyboards</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- BEGINNING OF MAIN CONTENT-->
  <div class="container-fluid">
    <!-- Beginning of the first row-->
    <div class="row">
      <div class="col-4 style= 1px border">
        <!-- Each column contains the "cards" showing the product-->
        <!-- all the memes here I guess in big boxes something-->
        <!-- 
          This right here is a card, you can use it to display the products in a nice way.
          It is also probably possible to fit multiple cards in a row, but I haven't tried it yet.
          Fetch images and some "text" from the database and put it in the card.
        -->
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="https://i.computersalg.dk/digitalcontent/360/4305/43053377.jpg
          " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="https://www.proshop.se/Images/915x900/2959635_6b8e6df83142.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">test title</h5>
            <p class="card-text">Testing btw</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
      <div class="col-4">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</body>
</html>