<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D0018E</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c81cf709e0.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- BEGINNING OF NAVBAR-->
    <header>
        <div class="px-3 py-2 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-end">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <i class="fa-solid fa-shoe-prints"></i>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-end my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-secondary"> <!--- / is home-->
                                <i class="fa-solid fa-house"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/order.html" class="nav-link text-black-50">
                                <i class="fa-solid fa-cart-shopping"></i>
                                Your Orders
                            </a>
                        </li>
                        <li>
                            <a href="/user.html" class="nav-link text-black-50">
                                <i class="fa-solid fa-user"></i>
                                User
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-end">
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <a href="/login.html" role="button" class="btn btn-light text-dark me-2">Login</a>
                    <a href="/signup.html" role="button" class="btn btn-primary">Sign-up</a>
                </div>
            </div>
        </div>
    </header>
    <!-- BEGINNING OF SIDEBAR-->
    <div class="container-fluid">
        <i class="fa-solid fa-tags"></i>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            More items click here yes yes very good
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for e in tags%}
                        <li><a href="#" class="link-dark rounded">{{e}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- BEGINNING OF MAIN CONTENT-->
    <div class="container-fluid">
        <!-- Beginning of the first row-->
        <div class="row">
            {% for item in variable%}
            <div class="col-4">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src={{item.image}} alt="No image found">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <a href={{item.href}} class="btn btn-primary">Item page</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>
