<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D0018E</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c81cf709e0.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- BEGINNING OF NAVBAR-->
    <header>
        <div class="px-3 py-2 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-end">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <i class="fa-solid fa-shoe-prints"></i>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-end my-md-0 text-small">
                        <li>
                            <a href="/admin" class="nav-link text-black-50">
                                <i class="fa-solid fa-house"></i>
                                Admin
                            </a>
                        </li>
                        <li>
                            <a href="/admin/items" class="nav-link text-black-50">
                                <i class="fa-solid fa-box"></i>
                                Items
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users" class="nav-link text-black-50">
                                <i class="fa-solid fa-shopping-bag"></i>
                                Users
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>